<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    <!--Lofter-->
      <div class="g-hd0">
        <div class="g-hdc box">
          <h1 class="m-ttl">
            <a href="http://sunlery.lofter.com/">Sunlery</a></h1>
        </div>
      </div>
    <!--Lofter-->
<!--
  {% include side-panel.html %}
-->
    

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
  </body>

</html>
