<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    <!--Lofter-->
    <div class="g-doc box">
      <div class="g-hd0">
        <div class="g-hdc box">
          <h1 class="m-ttl">
            <a href="http://sunlery.lofter.com/">Sunlery</a></h1>
        </div>
      </div>
      <div class="g-hd1">
        <div class="g-hdc box">
          <!-- “个人信息” -->
          <p class="m-about">it's me.</p>
          <ul class="m-nav">
            <li class="lnkcstm">
              <a href="http://sunlery.lofter.com/maxscript" class="customlink">maxscript</a></li>
            <li>
              <a href="http://www.lofter.com/message/sunlery" rel="nofollow">私信</a></li>
            <li>
              <a href="http://sunlery.lofter.com/view">归档</a></li>
            <li>
              <a href="http://sunlery.lofter.com/rss">RSS</a></li>
            <!-- Search -->
            <li class="m-sch">
              <a id="j-lnksch" href="http://sunlery.lofter.com/#">搜索</a>
              <form id="j-schform" class="form" method="get" action="http://sunlery.lofter.com/search">
                <input type="text" name="q" class="txt" /></form>
            </li>
          </ul>
        </div>
      </div>
      <div class="g-mn">
        <div class="g-mnc box">
          <!-- Home page -->
          <div class="m-postlst box masonry" style="visibility: visible; width: 860px; position: relative; height: 1541px;">
            <div class="m-post  m-post-txt   masonry-brick" style="position: absolute; top: 0px; left: 0px;">
              <div class="ct">
                <div class="ctc box">
                  <h2 class="ttl">
                    <a href="http://sunlery.lofter.com/post/21506b_dc789e6" target="_blank">using System;</a></h2>
                  <!-- 有缩略图时 -->
                  <div class="pic">
                    <a class="img thumbnail" href="http://sunlery.lofter.com/post/21506b_dc789e6" target="_blank">
                      <img src="./Sunlery_files/Q0pEMTBKSXZXTGhNaHkyaW5RemZoL3JUSkR2bjF0b0ZLbThyNDB4MTBDWTRycHZsMFRQd2JRPT0.gif" /></a>
                  </div>
                  <div class="text">
                    <p>往运行服务器上直接上传文件时程序员的样子
                      <br /></p>
                    <p>
                      <br /></p>
                    <p>MOHB.~GOM~``CHN_FHLHM]IL_HNGHMC)O*~,{M]JOMFM)_,{ABT*{O.^O+]O{.O.{O)[</p>
                    <p>N[HS-J]\.+GO^(POMC`~M]]CHN_FHLHM]IL_HNGHMC+O**,{MM]JOMFM)_({ABT{{O``O((O*/O~{O[_</p>
                    <p>MOHF_LSR+.[OO^)L`+CHN_FHLHM]IL_HNGHMC-M]JOMMMMMMMMM/){MMFM(_.{ABT{{O``O-_O/[O,/O^{
                      <br /></p></div>
                </div>
              </div>
              <div class="info box">
                <a class="date" href="http://sunlery.lofter.com/post/21506b_dc789e6" target="_blank">2017-01-16</a></div>
            </div>
            <div class="m-post  m-post-txt   masonry-brick" style="position: absolute; top: 0px; left: 430px;">
              <div class="ct">
                <div class="ctc box">
                  <h2 class="ttl">
                    <a href="http://sunlery.lofter.com/post/21506b_c525519" target="_blank">CS</a></h2>
                  <!-- 有缩略图时 -->
                  <div class="text">
                    <p>rollout spi_Extend_Trim &quot;老司机清路障——畅通&nbsp; By:Sun&quot; width:280 height:45;(;)createdialog spi_Extend_Trim
                      <br /></p></div>
                </div>
              </div>
              <div class="info box">
                <a class="date" href="http://sunlery.lofter.com/post/21506b_c525519" target="_blank">2016-09-12</a></div>
            </div>
            <div class="m-post  m-post-txt   masonry-brick" style="position: absolute; top: 206px; left: 430px;">
              <div class="ct">
                <div class="ctc box">
                  <h2 class="ttl">
                    <a href="http://sunlery.lofter.com/post/21506b_c12418a" target="_blank">Sunlery测试</a></h2>
                  <!-- 有缩略图时 -->
                  <div class="text">
                    <p>sundll=&quot;D:\Documents\Visual Studio 2013\Projects\Maxscript Sandbox\Maxscript Sandbox\bin\Release\Maxscript Sandbox.dll&quot;;(dotNetClass &quot;System.Reflection.Assembly&quot;).load&nbsp;((dotNetClass&nbsp;&quot;System.IO.File&quot;).ReadAllBytes sundll);ThisTestObject = dotNetObject&quot;Maxscript_Sandbox...</p>
                  </div>
                </div>
              </div>
              <div class="info box">
                <a class="date" href="http://sunlery.lofter.com/post/21506b_c12418a" target="_blank">2016-08-19</a></div>
            </div>
            <div class="m-post  m-post-txt   masonry-brick" style="position: absolute; top: 508px; left: 430px;">
              <div class="ct">
                <div class="ctc box">
                  <h2 class="ttl">
                    <a href="http://sunlery.lofter.com/post/21506b_b0a6f0f" target="_blank">VS2013 密钥 – 所有版本</a></h2>
                  <!-- 有缩略图时 -->
                  <div class="pic">
                    <a class="img thumbnail" href="http://sunlery.lofter.com/post/21506b_b0a6f0f" target="_blank">
                      <img src="./Sunlery_files/6598093412044004374.jpg" /></a>
                  </div>
                  <div class="text">
                    <p>Visual Studio Ultimate 2013 KEY（密钥）：BWG7X-J98B3-W34RT-33B3R-JVYW9</p>
                    <p>Visual Studio Premium 2013 KEY（密钥）：FBJVC-3CMTX-D8DVP-RTQCT-92494</p>
                    <p>Visual Studio Professional 2013&nbsp; KEY（密钥）： XDM3T-W3T3V-MGJWK-8BFVD-GVPKY</p>
                    <p>Team Foundation Server 2013 KEY（密钥）：MHG9J-HHHX9-WWPQP-D8T7H-7KCQG</p>
                    <p>在VS中的&nbsp;“帮助”&nbsp;&gt;...</p>
                  </div>
                </div>
              </div>
              <div class="info box">
                <a class="date" href="http://sunlery.lofter.com/post/21506b_b0a6f0f" target="_blank">2016-05-20</a></div>
            </div>
            <div class="m-post  m-post-txt   masonry-brick" style="position: absolute; top: 635px; left: 0px;">
              <div class="ct">
                <div class="ctc box">
                  <h2 class="ttl">
                    <a href="http://sunlery.lofter.com/post/21506b_8ee573e" target="_blank">网页中嵌入外部页面的四种方法</a></h2>
                  <!-- 有缩略图时 -->
                  <div class="pic">
                    <a class="img thumbnail" href="http://sunlery.lofter.com/post/21506b_8ee573e" target="_blank">
                      <img src="./Sunlery_files/119345390225714200.png" /></a>
                  </div>
                  <div class="text">
                    <p>网页中嵌入外部页面的四种方法&nbsp;</p>
                    <p>一．应用框架技术&nbsp;
                      <br />----&nbsp;要在宿主页面中嵌入外部页面的方法是，在宿主页面中包含外部页面的位置插入“&lt; IFRAME name=&quot;XXX&quot; width=X height=X frameborder=0 src=&quot;XXX.htm&quot;&nbsp;&gt;&lt;&nbsp;/IFRAME &gt;”语句即可(注意:&nbsp;&lt; IFRAME &gt;标签中的各种属性含义请查阅相关技术手册)。</p>
                    <p>----&nbsp;如果想在嵌入的外部页面过长时不出现滚动条，在外部文件&lt; body...</p>
                  </div>
                </div>
              </div>
              <div class="info box">
                <a class="date" href="http://sunlery.lofter.com/post/21506b_8ee573e" target="_blank">2015-11-16</a></div>
            </div>
            <div class="m-post m-post-img    masonry-brick" style="position: absolute; top: 1197px; left: 430px;">
              <div class="ct">
                <div class="ctc box">
                  <div class="pic">
                    <a class="img" href="http://sunlery.lofter.com/post/21506b_688c1e2" target="_blank">
                      <img src="./Sunlery_files/6619344772724224949.jpg" /></a>
                  </div>
                </div>
              </div>
              <div class="info box">
                <a class="date" href="http://sunlery.lofter.com/post/21506b_688c1e2">2015-04-09</a>
                <a class="hot" href="http://sunlery.lofter.com/post/21506b_688c1e2">8</a></div>
            </div>
          </div>
          <!-- Pager --></div>
      </div>
      <!-- Footer -->
      <div class="g-ft">
        <p class="m-cprt">&copy;&nbsp;
          <a href="http://sunlery.lofter.com/">Sunlery</a>&nbsp;|&nbsp;Powered by
          <a href="http://www.lofter.com/">LOFTER</a></p>
      </div>
    </div>
    <!--Lofter-->

    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
  </body>

</html>
